/* legacy compat */
section, article, aside, footer, header, nav {
  display:block;
}

* { margin:0; border:0; padding:0; box-sizing:border-box }

html,body { width:100%; height:100% }
body {
  font-family:'Raleway',sans-serif;
  font-size:1rem;
  letter-spacing:0.01rem;
  line-height:1.4;
}

.hidden { position:absolute; top:-9999px; left:-9999px }
/* header { position:fixed; top:0; width:100%; z-index:1 } */

.hero::before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-2;
  background-size:cover;
  background-color:#48eeda /* #fff9f3 */;
}
.hero {
  position:relative;
  width:100%;
  height:100%;
  min-width:100%;
  min-height:100%;
}

.hero-text::before {
  content:'';
  display:block;
  position:absolute;
  margin-left:0;
  min-width:100%;
  z-index:-1;
  opacity:0.3;
  background-color:#343a40;
}
.hero-text {
  color:#fff;
  font-size:1.3rem;
  line-height:1.2;
  text-shadow:#343a40 2px 2px;
  position:relative;
  min-width:100%;
  min-height:6rem;
}
.hero-title,.hero-subtitle { width:100%; display:block; text-align:center }
.hero-title { margin:1% 0 0 0 }

.flex-center {
  display:flex;
  display:-ms-flexbox;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}

#services {
  position:relative;
  top:-0.6rem;
  /* width:100%; */
  display:flex;
  display:-ms-flexbox;
  flex-flow:column nowrap;
  align-items:center;
  /* flex-wrap:wrap; */
  /* -ms-flex-wrap:wrap; */
  /* justify-content:space-between; */
  /* -ms-flex-pack:justify; */
}

.mobj {
  position:relative;
  width:100%;
  padding:1rem;
  color:#000;
  /* darker -> #eae6e3, darkest -> #e1dcd7 */
  background-color:#f4f2f0;
  display:flex;
  display:-ms-flexbox;
  /*justify-content:center;*/
  /*-ms-flex-pack:center;*/
  /*align-content:flex-start;*/
  /*-ms-flex-line-pack:start;*/
  margin-bottom:0.5rem;
}
.mobj-figure { width:50px; height:75px; margin-right:1rem }
.mobj-body {
  display:flex;
  flex-flow:column nowrap;
}
.mobj-body > p { margin-bottom:0.8rem }
.mobj-body > ul { margin-left:2rem; margin-bottom:0.8rem }

#about {
  display:flex;
  display:-ms-flexbox;
  flex-flow:column nowrap;
  align-items:center;
  width:100%;
  background-color:#7cefde;
}
#about > .mobj { background-color:transparent; margin:0.5rem 0.5rem }

#contact {
  display:flex;
  display:-ms-flexbox;
  flex-flow:column nowrap;
  align-items:center;
  width:100%;
  min-height:50%;
  background-color:#f2f1dc /*#edcccd    #f2f1dc #efeece #ebeab5*/;
}
#contact > .mobj { background-color:transparent; margin:0.5rem 0.5rem }

footer {
  display:flex;
  display:-ms-flexbox;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:flex-end;
  width:100%;
  min-height:20%;
  background-color:#f4f2f0;
}

/* mobile styles */
@media only screen and (max-width:333px) {
  .menu-links > .about,
  .menu-links > .contact,
  .menu-links > .phone { display:none }
  .hero-text { font-size:1.1rem }
  .mobj { flex-flow:column nowrap; align-items:center }
  .mobj-figure { width:90%; height:90%; margin:0 }
  #services,#about { font-size:0.8rem }
}
@media only screen and (max-width:400px) {
  .menu-links > .phone { display:none }
  .hero::before { background-image:url('../image/hero-droplets-640x360.jpg') }
  .hero-text::before { min-height:12rem }
  .mobj { flex-flow:column nowrap; align-items:center }
  .mobj-figure { width:90%; height:90%; margin:0 }
}

/* tablet styles */
@media only screen and (min-width:401px) and (max-width:528px) {
  .menu-links > .phone { display:none }
}
@media only screen and (min-width:401px) and (max-width:960px) {
  .hero::before { background-image:url('../image/hero-droplets-960x540.jpg') }
  .hero-text::before { min-height:9rem }
  .hero-text { font-size:1.4rem }
  .mobj { width:80%; border-radius:0.25rem }
  .mobj-figure { width:84px; height:126px }
}

/* desktop styles */
@media only screen and (min-width:961px) and (max-width:1239px) {
  .hero::before { background-image:url('../image/hero-droplets-1280x720.jpg') }
  .hero-text::before { min-height:9rem }
  .hero-text { font-size:1.6rem }
  #services { width:960px; margin:0 auto }
  .mobj { width:80%; border-radius:0.25rem }
  .mobj-figure { width:120px; height:180px }
}
@media only screen and (min-width:1240px) {
  .hero::before { background-image:url('../image/hero-droplets-1920x1205.jpg') }
  .hero-text::before { min-height:9rem }
  .hero-text { font-size:1.6rem }
  #services { width:960px; margin:0 auto }
  .mobj { width:80%; border-radius:0.25rem }
  .mobj-figure { width:150px; height:225px }
}

.menu-container {
  color:#fff;
  background-color:#478683 /*#299302*/;
  padding:20px 0;
  border-bottom: 2px solid #444 /*#086002*/;
  display:flex;
  display:-ms-flexbox;
  justify-content:center; /* space-around flex-start */
  -ms-flex-pack:center;
}

.menu {
  width:100%;
  display:flex;
  display:-ms-flexbox;
  justify-content:space-between;
  -ms-flex-pack:justify;
}
.menu a { color:#fff; text-decoration:none; }
.menu a:link { color:#fff }
.menu a:visited { color:#fff }
.menu a:hover { text-decoration:underline }

.menu-title {
  font-size:1.5rem;
  font-weight:bold;
  margin-left:0.4rem;
}
.menu-title a:hover { text-decoration:none }

.menu-links {
  display:flex;
  display:-ms-flexbox;
  justify-content:space-between;
  align-items:center;
  -ms-flex-pack:justify;
  margin-right:0.4rem;
}

.about, .contact, .phone { margin-left:1.5rem }
.phone-icon { width:1.1rem; height:1.1rem }
