/* legacy compat */
section,article,aside,footer,header,nav {
  display:block;
}

* { margin:0; border:0; padding:0; box-sizing:border-box }

html,body { width:100%; height:100% }
body {
  font-family:'Raleway',sans-serif;
  font-size:1rem;
  letter-spacing:0.01rem;
  line-height:1.4;
}

.hidden { position:absolute; top:-9999px; left:-9999px }
/* header { position:fixed; top:0; width:100%; z-index:1 } */

.hero::before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-2;
  background-size:cover;
  background-color:#48eeda /* #fff9f3 */;
}
.hero {
  position:relative;
  width:100%;
  height:100%;
  min-width:100%;
  min-height:100%;
}

.hero-text::before {
  content:'';
  display:block;
  position:absolute;
  margin-left:0;
  min-width:100%;
  z-index:-1;
  opacity:0.3;
  background-color:#343a40;
}
.hero-text {
  color:#f0e2d7;
  font-size:1.3rem;
  line-height:1.2;
  text-shadow:#343a40 2px 2px;
  position:relative;
  min-width:100%;
  min-height:6rem;
}
.hero-title,.hero-subtitle { width:100%; display:block; text-align:center }
.hero-title { margin:1% 0 0 0 }

.flex-center {
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-content:center;
}

#services {
  position:relative;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  background-color:#f0e2d7;
}

.mobj {
  /*position:relative;*/
  width:100%;
  padding:1rem;
  color:#000;
  /* darker -> #eae6e3, darkest -> #e1dcd7 */
  /*background-color:#f4f2f0;*/
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  margin-bottom:0.5rem;
}
.mobj-figure { width:90%; height:90%; border-radius:0.4rem }
.mobj-body { display:flex; flex-flow:column nowrap }
.mobj-body > p { margin-bottom:0.8rem }
.mobj-body ul { margin-left:2rem; margin-bottom:0.8rem }
.mobj-body > div.step { border:1px dotted; padding-left:0.5rem; margin-bottom:1rem }

#about {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  width:100%;
  background:linear-gradient(#f0e2d7, 10%, #c3c4c3);
}

#contact {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  width:100%;
  min-height:50%;
  background:linear-gradient(#c3c4c3, 10%, #d3d8c2);
}
#contact > .mobj,
#about > .mobj { background-color:transparent; margin:0.5rem 0.5rem }

footer {
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:flex-end;
  width:100%;
  min-height:20%;
  background-color:#f4f2f0;
}

/* mobile styles */
@media only screen and (max-width:333px) {
  .menu-links > .about,
  .menu-links > .contact,
  .menu-links > .phone { display:none }
  .hero-text { font-size:1.1rem }
  #services,#about,#contact { font-size:0.86rem }
}
@media only screen and (max-width:400px) {
  .menu-links > .phone { display:none }
  .hero::before { background-image:url('../image/hero-droplets2-640x360.jpg') }
  .hero-text::before { min-height:12rem }
}

/* tablet and tweener styles */
@media only screen and (min-width:401px) and (max-width:528px) {
  .menu-links > .phone { display:none }
}
@media only screen and (min-width:529px) {
  .mobj { flex-flow:row nowrap; align-items:flex-start; width:80%; border-radius:0.25rem }
  .mobj-figure { width:120px; height:180px }
  #services > div.mobj:nth-of-type(even) { flex-direction:row-reverse }
}
@media only screen and (min-width:401px) and (max-width:960px) {
  .hero::before { background-image:url('../image/hero-droplets2-960x515.jpg') }
  .hero-text::before { min-height:9rem }
  .hero-text { font-size:1.4rem }
}

/* desktop styles */
@media only screen and (min-width:961px) {
  .hero::before { background-image:url('../image/hero-droplets2-1280x687.jpg') }
  .hero-text::before { min-height:9rem }
  .hero-text { font-size:1.6rem }
  .mobj-figure { width:150px; height:225px }
  .mobj-body { font-size:1.1rem }
  .mobj > .mobj-figure { transform:translate(-2.4rem) }
  #services > div.mobj:nth-of-type(even) > .mobj-figure { transform:translate(2.4rem) }
  #services { width:100%; padding:0 10% }
  #contact { width:100%; padding:0 10% }
}
@media only screen and (min-width:1240px) {
  .hero::before { background-image:url('../image/hero-droplets2-1920x1030.jpg') }
  .mobj-figure { width:240px; height:360px }
}

.menu-container {
  color:#f0e2d7;
  background-color:#478683 /*#299302*/;
  padding:20px 0;
  border-bottom: 2px solid #444 /*#086002*/;
  display:flex;
  justify-content:center;
}

.menu {
  width:100%;
  display:flex;
  justify-content:space-between;
}
.menu a { color:#f0e2d7; text-decoration:none }
.menu a:link { color:#f0e2d7 }
.menu a:visited { color:#f0e2d7 }
.menu a:hover { text-decoration:underline }

.menu-title { font-size:1.5rem; font-weight:bold; margin-left:0.4rem }
.menu-title a:hover { text-decoration:none }

.menu-links {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-right:0.4rem;
}

.about, .contact, .phone { margin-left:1.5rem }
.phone-icon { width:1.1rem; height:1.1rem }
